# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# Backup files
*~

# Personal files
MBZUAI.tex
Anduril.tex

# LaTeX compilation artifacts
.pdf

!cv.pdf
*.ps

# IDE or editor specific files
.vscode/
.idea/

# Temporary files
*.swp
*.bak
CoverLetters/e&.tex
.gitignore
CoverLetters/EDGE.tex
CoverLetters/Emirates.tex
CoverLetters/Anduril copy.pdf
CoverLetters/Anduril.pdf
CoverLetters/e& copy.pdf
CoverLetters/e&.pdf
CoverLetters/EDGE copy.pdf
CoverLetters/EDGE.pdf
CoverLetters/Emirates.pdf
CoverLetters/LM copy.pdf
CoverLetters/LM.pdf
CoverLetters/MBZUAI.pdf
